.pic1{
    height: 85px;
    width: 85px;
}

.logo1p{
    color: red;
    font-style: italic;
    font-size: larger;
}

.ulh1{
    height: 40px;
    width: 850px;
    background-color: aqua;
    list-style-type: none;
    margin-left: 50px;
    margin-top: 34.5px;
}

.ulh1 li{
    display:inline
}

.ulh1 a{
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
}

.ulh1 a:hover{
    background-color: rgb(0, 102, 100);
}